body{
    background-color: #FFE6C9;
}
.container{
    background-color: #FFFFFF;
    width: 70%;
    height: 35%;
    margin-left: 15%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 4%;
}
.container-1{
    background-color: #FFE6C9;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
}
.img1 img{
    border-top-left-radius: 10px;
    width: 20%;
}
.circle{
    background-color: #F2DBBF;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-left: 26%;
    margin-top: -5%;
    /* padding: 20%; */
}
.circle img{
    margin-top: 16%;
    width: 260px;
}
.footer{
    text-align: center;
    color: #73114B;
    font-weight: 800;
    font-family: Nunito Sans;
    margin-top: 13%;
}
.footer h5{
    margin-top: -13px;
}
.circle2{
    background-image: linear-gradient(to right,#FFD9A8,#860752);
    position: absolute;
    left: 52%;
    bottom: 30px;
    width: 100px; 
    height: 50px; 
    border-radius: 100px 100px 0 0;
    overflow: hidden;
    opacity: 40%; 
}
.circle3{
    background-image: linear-gradient(to right,#FFD9A8,#860752);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    left: 42%;
}
.circle4{
    background-image: linear-gradient(to right,#FFD9A8,#860752);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    left: 47.6%;
}
.img2{
    position: absolute;
}